@import 'tailwindcss';

html,
body,
#app {
  height: 100dvh;
}

:root {
  color-scheme: light dark;
}

@theme {
  --color-base: light-dark(#fff, #282828);
  --color-on-base: light-dark(#1f1f1f, #e2e2e2);
  --color-on-base-icon: light-dark(#474747, #c6c6c6);
  --color-on-base-disabled: light-dark(#d3e2fd, #5e5e5e);
  --color-on-base-hover: light-dark(#f2f2f2, #3d3d3d);
  --color-on-base-active: light-dark(#e1e1e1, #5c5c5c);
  --color-table-base: light-dark(#f8fafd, #28292a);
  --color-table-alternate-row: light-dark(#fff, #1f1f1f);
  --color-table-selected-row: light-dark(#d3e4fd, #004a76);
  --color-table-error-row: light-dark(#b2271e, #f1b9b6);
  --color-header-base: light-dark(#fff, #3c3c3c); /* TODO: light color */
  --color-on-base-hover: light-dark(#f2f2f2, #4f4f4f); /* TODO */
}
