@import 'tailwindcss';
@source inline("grid-cols-{1..15}");

html,
body,
#app {
  height: 100dvh;
}

:root {
  color-scheme: light dark;
}

@theme {
  --color-base-color: light-dark(#fff, #282828);
  --color-on-base: light-dark(#1f1f1f, #e2e2e2);
  --color-on-base-icon: light-dark(#474747, #c6c6c6);
  --color-on-base-disabled: light-dark(#d3e2fd, #5e5e5e);
  --color-on-base-hover: light-dark(#f2f2f2, #3d3d3d);
  --color-on-base-active: light-dark(#e1e1e1, #5c5c5c);
  --color-table-base: light-dark(#fff, #1f1f1f);
  --color-table-alternate-row: light-dark(#f8fafd, #28292a);
  --color-table-selected-row: light-dark(#d3e4fd, #004a76);
  --color-table-error-row: light-dark(#b2271e, #f1b9b6);
  --color-header-base: light-dark(#edf2fa, #3c3c3c);
  --color-on-detail-header: light-dark(#474747, #c7c7c7);
  --color-on-detail-header-hover: light-dark(#e1e5ed, #4f4f4f);
  --color-on-detail-header-active: light-dark(#0b57d0, #a7c6fa);
  --color-request-timing-header: light-dark(#757575, #8e8e8e);
  --color-object-key: light-dark(#8e004b, #7cacf8);
  --color-object-value-number: light-dark(#0842a0, #997fff);
  --color-object-value-text: light-dark(#dc362e, #5dd6fb);
  --color-button-border: light-dark(#a7c6fa, #077db7);
  --color-on-button-active: light-dark(#d5d5d5, #6b6b6b);
  --color-filter-button-border: light-dark(#c7c7c7, #757575);
  --color-filter-button-active: light-dark(#d3e3fd, #004a77);
  --color-on-filter-button-active: light-dark(#041e49, #c2e7ff);
  --color-primary: light-dark(#1b6ef3, #7cacf8);
  --color-ws-message-sent-arrow: light-dark(#156d2e, #6dd58c);
  --color-ws-message-received-arrow: light-dark(#b3271e, #f2b8b5);
  --color-ws-message-sent: light-dark(#e2f7e8, #1c3d26);
  --color-timing-caution: light-dark(#f29900, #f29900);
  --color-pending: light-dark(#757575, #8e8e8e);

  --spacing-0\.75: calc(var(--spacing) * 0.75); /* 3px */
}
